<div class="text-center">
  <h1>Editing Season</h1>
  <h1>
    <small>
      <%= [@season.division.region.name, @season.division.league.name, @season.division.name].join(',') %>
    </small>
  </h1>
</div>

<%= render 'form' %>
