<div class="text-right">
  <h1>Editing Match <small><%= @match.home_team.season %></small></h1>
</div>

<%= link_to 'Cancel', @match.home_team.season, class: 'btn btn-default' %>

<%= render 'form' %>
